<ul class="video-list" ng-repeat="video in $ctrl.videos track by $index">
  <!-- {{ $ctrl.videos[$index].snippet.title }} -->

  <video-list-entry
  ng-click="$ctrl.onClick($index)"
  video="$ctrl.videos[$index]"
  hihi="$ctrl.hello"
  snippet="$ctrl.videos[$index].snippet"
  ></video-list-entry>
  <!-- <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>

  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>

  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>

  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
</ul>
