<div ng-if="!$ctrl.video.id.videoId">Please wait...</div>
<div class="video-player">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
    class="embed-responsive-item"
    ng-src="{{ $ctrl.youtubeURL($ctrl.video.id.videoId) }}"
    ng-if="$ctrl.video.id.videoId"
    allowFullScreen></iframe>
  </div>
  <div class="video-player-details">
    <h3>{{ $ctrl.video.snippet.title }}</h3>
    <div>{{ $ctrl.video.snippet.description }}</div>
  </div>
</div>



<!-- image

ctrl.video = {
  kind: 'youtube#searchResult',
  etag: 'uQc-MPTsstrHkQcRXL3IWLmeNsM/C1jcavqo18Eddpnx0P7g42ER6yk',
  id: {
    kind: 'youtube#video',
    videoId: 'OPxeCiy0RdY'
  },
  snippet: {
    publishedAt: '2016-02-09T00:05:00.000Z',
    channelId: 'UCwRXb5dUK4cvsHbx-rGzSgw',
    title: 'AngularJS Tutorial',
    description: 'Get the Code Here : http://goo.gl/yvDpi1 Best AngularJS Book : http://amzn.to/1PhNVPT Support me on Patreon : https://www.patreon.com/derekbanas In this ...',
    thumbnails: {
      default: {
        url: 'https://i.ytimg.com/vi/OPxeCiy0RdY/default.jpg',
        width: 120,
        height: 90
      },
      medium: {
        url: 'https://i.ytimg.com/vi/OPxeCiy0RdY/mqdefault.jpg',
        width: 320,
        height: 180
      },
      high: {
        url: 'https://i.ytimg.com/vi/OPxeCiy0RdY/hqdefault.jpg',
        width: 480,
        height: 360
      }
    },
    channelTitle: 'Derek Banas',
    liveBroadcastContent: 'none'
  }
}; -->
